.selected a {
    background-color: #88c8bc;
}

.prod-img {
    position: relative;
    display: inline-block;
}

.prod-img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.discount-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red; /* Màu nền của badge */
    color: white; /* Màu chữ của badge */
    padding: 4px 8px; /* Khoảng cách giữa nội dung và viền của badge */
    border-radius: 0 0 0 8px; /* Để làm cho góc phải của badge tròn */
    font-size: 12px; /* Kích thước chữ của badge */
}

.icon-delete {
    font-size: 20px;
    color: red;
}

#cart-empty {
    display: none;
}

/* CSS để ẩn form mặc định */
#registerModal,
#loginModal,
#addShippingModal,
#showAllShippingModal,
#showOrderCancelModal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.modal-content {
    margin: 100px auto;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 600px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .modal-content {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#register-link,
#login-link,
#register,
#login {
    cursor: pointer;
}

.information-address-of-my {
    padding: 1em 1em 0em 1em;
    border: 0.3em solid transparent;
    background: linear-gradient(white, white) padding-box,
        repeating-linear-gradient(
                -45deg,
                red 0,
                red 12.5%,
                transparent 0,
                transparent 25%,
                #58a 0,
                #58a 37.5%,
                transparent 0,
                transparent 50%
            )
            0 / 5em 5em;
}

.cursor-pointer {
    cursor: pointer;
}

.line-hr {
    font-weight: 700 !important;
    border-width: unset;
}

.list-empty {
    text-align: center;
    margin-top: 80px;
}

.list-empty p {
    margin-top: 10px;
}

.list-empty svg {
    width: 5em;
    height: 5em;
}

.list-empty-home {
    text-align: center;
    margin-top: 30px;
}

.list-empty-home p {
    margin-top: 10px;
    font-size: 20px;
}

.list-empty-home svg {
    width: 10em;
    height: 10em;
}

.custom-icon-star-empty {
    font-size: 24px;
    cursor: pointer;
}

.custom-icon-star-full {
    font-size: 24px;
    cursor: pointer;
}

.cancelled {
    background-color: #dc3545;
}
